################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/build_vs
/out/build/win-vs2022-x64
*.diff
*.lib
*.pdb
*.exe
*.patch
*.zip
*.dll
/out/build/x64-debug
/Bin
/build_linux
/out/Ubuntu-24.04/build
/vcpkg_installed
/.env.dev
/dependence
/Lib/Debug
/Testing/Temporary/CTestCostData.txt
/Testing/Temporary/LastTest.log
/tests/Testing/Temporary/CTestCostData.txt
/tests/Testing/Temporary/LastTest.log
